@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4900a8;
  --secondary-color: red;
  --tertiary-color: rgba(233, 68, 118, 0.495);
  --quaternary-color: #8080ff;
}

body {
  padding-top: env(safe-area-inset-top);
  /* padding-bottom: env(safe-area-inset-bottom); */
}

html,
body {
  max-height: 100dvh;
}

@media print {
  .page-break {
    page-break-before: always;
  }
}
